@tailwind base;
@tailwind components;
@tailwind utilities;



.smoothies-container {
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.plate {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}


.buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

