@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
    /* background-image: -webkit-linear-gradient( -14deg, #D8AE7D 0%, #D8AE7D 50%, #FEFFAE 50%,#FEFFAE 100%); */
    /* background-image: linear-gradient( -60deg, #D8AE7D 0%, #D8AE7D 50%, #FEFFAE 50%,#FEFFAE 100%); */
    /* background-image: url('../assets/main-1.svg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.5s ease-out;
}

.page1-items img{
    cursor: pointer;
    transition: background-color ease 0.3s;
}

.darkbrown{
    background-color: #AF8F6F;
}

.faintgreen{
    background-color: #548292;
}

.darkpurple{
    background-color: #AE48D2;
}

.darkgreen{
    background-color: #0C6848;
}

.page1-items :nth-child(1):hover{
    background-color: #AF8F6F;
}

.page1-items :nth-child(2):hover{
    background-color: #548292;
}

.page1-items :nth-child(3):hover{
    background-color: #AE48D2;
}

.page1-items :nth-child(4):hover{
    background-color: #0C6848;
}
  
.shiver-animation {
    animation: shiver-animation 1s infinite linear;
}
  
@keyframes shiver-animation {
    0% { transform: translate(0, 0) rotateZ(0deg); }
    10% { transform: translate(-1px, -1px) rotateZ(-1deg); }
    20% { transform: translate(1px, 1px) rotateZ(1deg); }
    30% { transform: translate(-1px, 1px) rotateZ(-1deg); }
    40% { transform: translate(1px, -1px) rotateZ(1deg); }
    50% { transform: translate(-1px, 0) rotateZ(-1deg); }
    60% { transform: translate(1px, 0) rotateZ(1deg); }
    70% { transform: translate(0, -1px) rotateZ(0deg); }
    80% { transform: translate(0, 1px) rotateZ(-1deg); }
    90% { transform: translate(0, -1px) rotateZ(1deg); }
    100% { transform: translate(0, 0) rotateZ(0deg); }
}

.circle-container {
    transition: all ease 1s;
}

.circle-container img{
    transition: display ease 0.5s;
}