@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}

::selection{
  color: white;
  background-color: #c93475;
}
 
html, body {
  height: 100%;
  width: 100%;
}
* {cursor: url(https://cur.cursors-4u.net/food/foo-6/foo517.cur), auto !important;}
 
::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 1.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: #ff69b4;
  border-radius: 10px;
  border: 3px solid #fff;
}
